*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container{
    width:100%;
    padding: 35px 10%;
}
.row{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
.contact-left{
    flex-basis: 35%;
    position: relative;
    padding: 20px;
    margin-bottom: 20%;
    color: aquamarine;
}
.contact-right{
    flex-basis: 60%;
    position: relative;
    padding: 20px;
    margin-bottom: 20%;

}
.contact-left p{
    font-size: 20px;
    margin-top: 30px;
}
.sicons{
    margin-top: 30px;
    background: aquamarine;
    width: 50%;

}
.sicons a{
    text-decoration: none;
    color: aquamarine;
    display: inline-block;
}
.sub-title{
    font-family: '';
    color: aquamarine;

}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: aquamarine;
    padding: 15px;
    margin: 15px 0;
    color: gray;
    font-size: 18px;
    border-radius: 6px;
}
button{
    background-color: aquamarine;
    width: 30%;
    font-size: 18px;
    color:gray;
    border-radius: 6px;
}
