* {
    margin : 0;
    padding : 0;
    font-family : sans-serif;
    }
    body {
    width : 100%;
    height : 100vh;
    background-image : linear-gradient(rgb(0, 0, 0, 0.75), rgb(0, 0, 0, 0.75)), url(../Images/background.jpg);
    background-size : cover;
    background-position : center;
    background-attachment : fixed;
    }
    .navbar {
    width : 85%;
    margin : auto;
    padding : 35px 0;
    display : flex;
    align-items : center;
    justify-content : space-between;
    }
    .logo {
    cursor : pointer;
    color : aquamarine;
    text-transform : uppercase;
    font-family : '';
    }
    .navbar ul li {
    list-style : none;
    display : grid;
    grid-template-columns : 1fr 1fr;
    margin : 0 20px;
    position : relative;
    }
    .navbar ul li a {
    text-decoration : none;
    color : aquamarine;
    text-transform : uppercase;
    font-family : '';
    }
    .navbar ul li::after {
    content : '';
    height : 3px;
    width : 0%;
    background : #009688;
    position : absolute;
    left : 0;
    bottom : 0;
    transition : 0.5s;
    }
    .navbar ul li:hover::after {
    width : 100%;
    }
    @media (min-width: 640px) {
    .image img {
    width : 400px;
    height : 400px;
    }
    .container {
    display : grid;
    margin : 35px;
    }
    .para {
    margin-left : 35px;
    }
    .para p {
    color : aquamarine;
    }
    }
    @media (max-width: 640px) {
    .image img {
    width : 400px;
    height : 400px;
    }
    .container {
    display : grid;
    margin : 35px;
    grid-template-columns : 1fr;
    }
    .para {
    margin-left : 20px;
    margin-top : 35px;
    }
    .para p {
    color : aquamarine;
    text-align : justify;
    }
    }
    .container {
    width : 100%;
    padding : 35px 10%;
    }
    main.row {
    display : grid;
    grid-template-columns : 1fr 1fr;
    column-gap : 20px;
    }
    .col header.title {
    font-family : '';
    color : aquamarine;
    }
    .contents {
    padding : 0 30px;
    border-left : 2px solid #bababa;
    }
    .box {
    position : relative;
    padding : 20px;
    border : #eaeaea solid 1px;
    cursor : pointer;
    transition : all 0.4s;
    margin-bottom : 20%;
    color : aquamarine;
    }
    h3 {
    text-transform : uppercase;
    }
    .box:hover {
    box-shadow : 0 3px 12px 0 #ccc;
    border : transparent solid 1px;
    }
    .box::before {
    content : '';
    position : absolute;
    width : 16px;
    height : 16px;
    border-radius : 50%;
    right : calc(100% + 20px);
    top : 0;
    background-color : #11a372;
    border : white solid 2px;
    }
    @media (min-width: 640px) {
    .main {
    display : grid;
    grid-template-columns : 1fr 1fr;
    gap : 20px;
    }
    .about {
    margin-top : 50px;
    }
    .about h2 {
    color : aquamarine;
    }
    .container img {
    margin : 40px;
    width : 400px;
    }
    .about p {
    color : aquamarine;
    }
    .about a {
    color : aquamarine;
    }
    .btn {
    margin-left : 40px;
    }
    .btn a {
    color : aquamarine;
    }
    }
    @media (min-width: 475px) {
    .main {
    display : grid;
    grid-template-columns : 1fr;
    gap : 20px;
    }
    .about {
    display : grid;
    grid-template-columns : 1fr;
    gap : 10px;
    }
    .about h2 {
    margin-left : 150px;
    color : aquamarine;
    }
    .about h4 {
    margin-top : 5px;
    margin-left : 120px;
    color : aquamarine;
    }
    .container img {
    margin : 40px;
    width : 400px;
    }
    .about p {
    color : aquamarine;
    text-align : justify;
    margin-left : 40px;
    }
    .about a {
    color : aquamarine;
    margin-left : 150px;
    }
    .btn {
    margin-left : 40px;
    margin-top : 100px;
    }
    .btn a {
    color : aquamarine;
    }
    }
    .container {
    width : 100%;
    padding : 35px 10%;
    }
    .row {
    display : grid;
    grid-template-columns : 1fr 1fr;
    column-gap : 20px;
    }
    .contact-left {
    flex-basis : 35%;
    position : relative;
    padding : 20px;
    margin-bottom : 20%;
    color : aquamarine;
    }
    .contact-right {
    flex-basis : 60%;
    position : relative;
    padding : 20px;
    margin-bottom : 20%;
    }
    .contact-left p {
    font-size : 20px;
    margin-top : 30px;
    }
    .sicons {
    margin-top : 30px;
    background : aquamarine;
    width : 50%;
    }
    .sicons a {
    text-decoration : none;
    color : aquamarine;
    display : inline-block;
    }
    .sub-title {
    font-family : '';
    color : aquamarine;
    }
    .contact-right form {
    width : 100%;
    }
    form input, form textarea {
    width : 100%;
    border : 0;
    outline : none;
    background : aquamarine;
    padding : 15px;
    margin : 15px 0;
    color : gray;
    font-size : 18px;
    border-radius : 6px;
    }
    button {
    background-color : aquamarine;
    width : 30%;
    font-size : 18px;
    color : gray;
    border-radius : 6px;
    }